.friends_container {
    width: 100vw; 
    height: 100vh;
    display: flex; 
    justify-content: space-evenly; 
}

.my_profile_container {
    width: 50%; 
    height: 100vh; 
}

.my_friends_container {
    width: 50%; 
    height: 100vh;
}