.news_container {
    width: 100vw; 
    height: 100vh;
    background: black; 
}

.main_body {
    background: black; 
}

.body_container {
    width: 100vw; 
    height: 100vh; 
    display: flex; 
    flex-direction: row; 
    background: black; 
}

.news_table {
    margin: 10px;
    height: 90%; 
    width: 50%; 
    border-color: rgb(103, 252, 202); 
    border-radius: 10px; 
    border-width: 2px; 
    background: rgb(1, 1, 26); 
    overflow: scroll; 
    box-shadow: 5px 5px 5px 5px rgb(127, 189, 214);
}

.feed_cell {
    margin: 15px; 
    height: 75%; 
    border-color: rgb(103, 252, 202); 
    border-radius: 10px; 
    border-width: 2px; 
    background: rgb(3, 3, 66); 
    color: rgb(151, 220, 224); 
    text-align: center; 
    font-family: 'Courier New', Courier, monospace; 
}

.feed_cell > a > img {
    margin-top: 0px; 
    margin-left: 15px; 
    margin-right: 15px; 
    margin-bottom: 15px; 
    max-width: 60%;
    max-height: 75%; 
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px rgb(127, 189, 214);
}

.feed_cell > p {
    padding-top: 10px; 
    font-size: 28px; 
}

.top_bar {
    height: 100px; 
    width: 100%; 
    color: black; 
    display: flex; 
}

.search_div {
    height: 100px; 
    width: 50%; 
    display: flex; 
}

.search_div > img {
    max-width: 80px;
    min-width: 80px; 
    margin: auto; 
}

.search_div > input {
    width: 50%; 
    height: 30px; 
    background: rgb(83, 96, 207); 
    border-color: rgb(232, 232, 248); 
    border-radius: 10px; 
    margin: auto; 
    color: white;
}
::placeholder {
    color: white; 
}

.search_div > button {
    height: 30px; 
    width: 20%; 
    background: rgb(14, 3, 112); 
    color: white; 
    border-radius: 5px; 
    margin: auto; 
}

.search_div > button:hover {
    background: white; 
    color: black; 
}

.type_div {
    display: flex; 
    width: 50%; 
}

.type_div > img {
    max-width: 80px;
    max-height: 80px; 
    margin: auto; 
}

.type_div > button {
    height: 30px;
    width: 30%; 
    margin: auto; 
    background: blueviolet; 
    border: rgb(241, 245, 245); 
    border-width: 2px;  
    color: aliceblue; 
    border-radius: 5px; 
}

.video_display {
    margin-top: 10%; 
    margin-bottom: 15px;
    box-shadow: 5px 5px 5px 5px rgb(127, 189, 214);
}

.collection {
    width: 50%; 
    height: 100vh;
    overflow: scroll;
}

.sub_header {
    width: 100%;
    height: 100px;
    margin-top: 10px; 
    box-shadow: 5px 5px 5px 5px rgb(127, 189, 214);
    display: flex; 
}

.sub_header > p {
    color: white;
    font-family: 'Courier New', Courier, monospace; 
    font-size: 48px; 
    text-align: center; 
    height: 80px; 
    margin-top: 25px; 
    margin-right: 25%; 
}

.sub_header > img {
    width: 80px;
    height: 80px;
    margin: auto; 
    margin-left: 15%; 
}

.button_container_news {
    width: 100%; 
    height: 40px;
    display: flex; 
    justify-content: space-evenly; 
}

.button_container_news > button {
    width: 25%; 
    color: white; 
    background: darkblue; 
    border-radius: 10px; 
}

.button_container_news > button:hover {
    background: blue; 
}


.archive_container {
    margin-top: 10%; 
    width: 50%; 
    height: 50%; 
    margin-left: 25%; 
    display: flex; 
    flex-direction: column; 
    background: rgb(9, 4, 71); 
    border-radius: 10px; 
}

.archive_container > img {
    max-width: 80%; 
    max-height: 80%; 
    margin: auto; 
}

.archive_container > p {
    text-align: center; 
    color: white;
}