.header_class {
  width: 100%; 
  height: 100px; 
  /* background-image: url("Lightyear-navbar-background.png");  */
  background-color: black; 
  border-style: solid; 
  border-width: 0px 0px 2px 0px; 
  border-color: rgb(25, 25, 160); 
  padding-bottom: 0px; 
}

.right_nav_utils {
  display: flex; 
  flex-direction: row; 
  justify-content: space-between; 
  color: white; 
  margin: auto; 
}

.right_nav_utils > img { 
  width: 80px; 
  height: 80px;
  margin: auto; 
  border-radius: 40px; 
  margin-left: 30%; 
  box-shadow: rgb(102, 250, 230); 
}

.right_nav_utils > p {
  color: white; 
  height: 50%;
  width: 100%; 
  margin: auto; 
  padding-left: 20px; 
  font-family: 'Courier New', Courier, monospace; 
  font-size: 24px; 
}

.right_nav_utils > button {
  color: white; 
  background: darkblue; 
  margin: auto; 
  width: 20%; 
  height: 30%;
}

.header_container {
  width: 100%; 
  display: flex; 
  flex-direction: row; 
}

.spacegram_logo {
  /* width: 400px;  */
  width: 100%; 
  height: 80px; 
  color: rgb(134, 161, 219); 
  display: flex; 
  flex-direction: row; 
}

.spacegram_logo > p {
  color: rgb(130, 202, 235); 
  font-family: 'Courier New', Courier, monospace; 
  font-size: 48px; 
  font-weight: bold; 
  margin: auto; 
  margin-left: 110px; 
}

.right_nav_utils {
  height: 100px;
  width: 500px; 
}

.logo {
  max-width: 100%; 
  max-height: 80px;
  padding-top: 10px; 
  padding-left: 10px; 
}

.main_body {
  padding-top: 0px; 
  /* background: black;  */
  background: transparent; 
  height: 100vh; 
  width: 100vw; 
  display: flex; 
  justify-content: space-evenly; 
}

.home_parent {
  padding-top: 0px; 
  background: black; 
  background-image: url("josh_galaxy.jpg"); 
  background-size: cover;                     
  background-repeat: no-repeat;
  background-position: center center;  
  height: 200vh; 
  width: 100vw; 
  display: flex; 
  flex-direction: column; 
  justify-content: space-evenly; 
}

.bottom_footer {
  background: rgb(3, 3, 85); 
  width: 100%; 
  height: 100px; 
}

.intro_container {
  width: 100vw; 
  height: 100vh; 
  display: flex; 
  flex-direction: column; 
  justify-content: space-evenly; 
  background: transparent; 
}

.text_intro {
  width: 100%; 
  height: 100px;
  background: transparent; 
  color: rgb(176, 186, 230); 
  font-size: 48px; 
  text-align: center; 
  font-family: 'Courier New', Courier, monospace; 
  font-weight: bold; 
  animation-name: intro_animation;
  animation-duration: 0.5s;
  animation-delay: 0s;
}

/* TODO add background image?  */
.intro_tabs {
  width: 80%; 
  margin-left: 10%; 
  margin-right: 10%; 
  display: flex; 
  justify-content: space-between; 
  background: transparent;  
  height: 50%; 
}

.news_bubble, .friends_bubble, .space_station_bubble {
  width: 25%; 
  height: 75%; 
  /* background: transparent;  */
  background: black; 
  border-width: 2px; 
  border-style: solid; 
  border-radius: 20px; 
  display: flex; 
  justify-content: space-evenly; 
  flex-direction: column; 
  box-shadow: 5px 5px 5px 5px rgb(127, 189, 214);
}

.news_bubble {
  border-color: rgb(127, 189, 214); 
}

.friends_bubble {
  border-color: rgb(127, 189, 214); 
}

.space_station_bubble {
  border-color: rgb(127, 189, 214); 
}

.news_img, .friends_img, .ss_img {
  min-width: 100px; 
  min-height: 100px;
  max-width: 100px;
  max-height: 100px; 
  margin: auto; 
}

.main_button_tab {
  /* background: transparent;  */
  background: black; 
  color: white; 
  border-color: rgb(69, 69, 190); 
  border-width: 1px; 
  border-radius: 5px; 
  margin-left: 15px; 
  margin-bottom: 15px; 
  margin-right: 15px; 
  width: auto; 
  font-size: 24px; 
  font-family: 'Courier New', Courier, monospace; 
  font-weight: bold; 
  white-space: nowrap; 
}

.main_button_tab:hover {
  background: rgb(49, 49, 238); 
}

.login_register_main {
  display: flex; 
  justify-content: space-between; 
  flex-direction: row; 
}

.main_button {
  width: 25%; 
  margin: auto; 
  height: 50px;
  font-family: 'Courier New', Courier, monospace; 
  background: rgb(5, 5, 105); 
  color: whitesmoke;
  font-size: 36px; 
  font-weight: bold; 
  border-color: azure; 
  border-width: 2px; 
  border-radius: 5px; 
}

.main_button:hover {
  background: white; 
  color: black; 
}

/* Second div */

/* .space_animation_container {
  height: 100%; 
  widows: 100%;
  background: blue; 
} */

/* .news_bubble > p, .friends_bubble > p, .space_station_bubble > p {
  margin-top: 60%; 
  height: 50px; 
} */

/* Animations */

@keyframes intro_animation {
    0%   {color:rgb(124, 180, 226); width: 0%; font-size: 6px;}
    25%  {color:rgb(52, 28, 189); width: 25%; font-size: 12px;} 
    50%  {color:rgb(16, 16, 197); width: 50%; font-size: 18px;}
    75%  {color:rgb(16, 80, 139); width: 75%; font-size: 24px;}
    100% {color:rgb(55, 67, 173); width: 100%; font-size: 48px;}
}

/* Media queries */

@media screen and (max-width: 700px) {
  .news_img, .friends_img, .ss_img {
    min-width: 50px; 
    min-height: 50px;
    max-width: 50px;
    max-height: 50px; 
    margin: auto; 
  }
  .news_bubble, .friends_bubble, .space_station_bubble {
    width: 25%; 
    height: 25%; 
    background: transparent; 
    border-width: 2px; 
    border-style: solid; 
    border-radius: 20px; 
    display: flex; 
    justify-content: space-evenly; 
    flex-direction: column; 
    box-shadow: 5px 5px 5px 5px rgb(127, 189, 214);
  }
  .main_button_tab {
    background: transparent; 
    font-size: 12px; 
  }
  .spacegram_logo > p {
    color: rgb(130, 202, 235); 
    font-family: 'Courier New', Courier, monospace; 
    font-size: 24px; 
    font-weight: bold; 
    margin: auto; 
    margin-left: 60px; 
  }
  .logo {
    max-width: 50px; 
    max-height: 50px;
    padding-top: 10px; 
    padding-left: 10px; 
  }
  .text_intro {
    width: 100%; 
    height: 100px;
    background: transparent; 
    color: rgb(176, 186, 230); 
    font-size: 24px; 
    text-align: center; 
    font-family: 'Courier New', Courier, monospace; 
    font-weight: bold; 
    animation-name: intro_animation;
    animation-duration: 0.5s;
    animation-delay: 0s;
  }
}


/* Delete eventually */

/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
